
#text_list{
	background-color: #FFFF00;
	border-radius: 100px;
	padding: 20px;
}
ul{
	padding-top: 10px;
	text-decoration: none;	
}
li{
	display: inline-block;
	margin-left:250px;	

}
#text_img{
	background-image: url('imades/b.jpg');
	border-radius:200px;
	margin-top: 10px;
}

h1{
	color: red;
	margin-left:550px;
}

.para{
	margin-left: : 50px;
	padding: 40px;
	color: blue;
	border: dashed;
}

#text_bor{
	 background-color: red;
	 border-radius: 500px;
}

#un{
	border: solid;
	background-color: #57E964;


}